# Ignore virtual environments
venv/
.env/

# Ignore Docker-related files
Dockerfile
docker-compose.yml
*.docker

# Ignore Python cache files and directories
__pycache__/
*.py[cod]

# Ignore specific editor or IDE files
.vscode/
.idea/

app-backend/credentials/